// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid $form-element-border-color;
  padding: $form-element-padding;

  // &:hover {
    
  // }

  &:focus {
    border-color: $form-element-focus-border-color;
  }

  @include placeholder {
    color: $placeholder-color;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  width:100%;
  padding-left: 5px;
  padding-right: 5px;

  label {
    text-align: left;
    font-weight: normal;
  }

  input.email {
    width: 50%;
  }

  .button {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    background-color: #7c4e8c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

@media (max-width: 768px) {
  #mc_embed_signup {
    input.email {
        width: 100%;
      }
    .button {
      width: 100%;
    }
  }
}